<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>MyPortfolio</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="icon" href="../static/images/favicon.ico" />
</head>

<body>

    <!-- Top Section -->
	<section  id="top" class="section section-0">
        <img class="top-cloud" src="../static/images/cloud.png" alt="cloud-img">
        <h1>Hello, I'm Paolo</h1>
        <h2>a Software Engineer.</h2>
        <img class="bottom-cloud" src="../static/images/cloud.png" alt="cloud-img">
    </section>

    <!-- About Me -->
	<section  id="about-me" class="section section-1">
        <div class="profile">
            <p>Hi, I'm Paolo. I have a master degree in Nuclear Engineering, but I always worked
            in software development, first as a SW Engineer and then as a Team Leader in
            the main European space projects (from ISS to Galileo to Exomars).
            <br />
            I am currently a Project Management Specialist in the Centre of Competence
            for Software Solutions in Thales Alenia Space Italy.
            </p>
            <hr>
        </div>
    </section>

	<!-- Skills -->
	<section  id="skills" class="section section-2">
        <div class="container">
			<div class="has-text-centered">
				<h2>My Skills</h2>
			</div>

			<div class="columns is-multiline is-desktop">
				<!-- Skill 1 -->
				<div class="column">
					<div>
						<article>
							<div>
								<figure class="image project-figure">
									<img src="../static/images/SW-engineer.svg" alt="Image">
								</figure>
                            </div>
							<div>
								<h3>SW Development</h3>
								<p class="project-text">
								I am a native Pascal and Fortran programmer, but I am also fluent
          						in C, Java and Python. I also have a deep knowledge of the main SW
          						life cycle paradigms (Waterfall, Agile, Rapid Prototyping...).
								</p>
                            </div>
                        </article>
                    </div>
                </div>
				<!-- Skill 2 -->
				<div class="column">
					<div>
						<article>
							<div>
								<figure class="image project-figure">
									<img src="../static/images/workflow.svg" alt="Image">
								</figure>
                            </div>
							<div>
								<h3>Project Management</h3>
								<p class="project-text">
								I am a Project Management Professional (PMP) certified by the international
						        Project Management Institute (PMI).
								</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

	<!-- Projects -->
	<section  id="projects" class="section section-3">
		<div class="container">
			<div class="has-text-centered">
				<h2>My Projects</h2>
            </div>

			<div class="columns is-multiline is-desktop">
				<!-- Project 1 -->
				<div class="column">
					<div class="box project-text">
						<article>
							<div>
								<figure class="image project-figure">
									<img src="../static/images/my-cafes.png" alt="Image">
                                </figure>
							</div>
							<div>
								<h3>My Favorite Cafes List</h3>
								<p>
								A site listing some interesting cafes, listed with their location reference
								and services provided.
								</p>
								<a href="https://my-cafe-website.herokuapp.com/">Take a look...</a>
							</div>
						</article>
					</div>
				</div>
				<!-- Project 2 -->
				<div class="column">
					<div class="box project-text">
						<article>
							<div>
								<figure class="image project-figure">
									<img src="../static/images/my-blog.png" alt="Image">
                                </figure>
							</div>
							<div>
								<h3>My Personal Blog</h3>
								<p>
								A template for a personal blog where one can post
								his considerations on any topic he likes.
								</p>
								<a href="https://paolo-blog.herokuapp.com/">Take a look...</a>
							</div>
						</article>
					</div>
				</div>
				<!-- Project 3 -->
				<div class="column">
					<div class="box project-text">
						<article>
							<div>
								<figure class="image project-figure">
									<img src="../static/images/my-todo-list.jpg" alt="Image">
                                </figure>
							</div>
							<div>
								<h3>My To-Do List</h3>
								<p>
								A list of tasks to be performed (within specified dates), which can be
								kept updated online with simple commands.
								</p>
								<a href="#">Take a look...</a>
							</div>
						</article>
					</div>
				</div>
			</div>
            <hr>
        </div>
	</section>

	<!-- Contacts -->
    <section  id="contact-me" class="section section-4">
            <div class="contact-me">
                <h2>Get In Touch</h2>
                <h3>If I can help you, I will be glad to.</h3>
                <br>
                <a class="btn" href="mailto:pchiroli@hotmail.com">CONTACT ME</a>
            </div>
    </section>

    <!-- Bottom Section -->
    <section  id="bottom" class="section section-5">
            <a class="footer-link" href="https://it.linkedin.com/in/paolo-chiroli-0399b865">LinkedIn</a>
            <a class="footer-link" href="https://www.facebook.com/profile.php?id=100008553408619">Facebook</a>
            <p class="copyright">© 2021 Paolo Chiroli</p>
    </section>

</body>

</html>